header{
    display: flex;
    align-items: center;
    background: #555555;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}

mat-toolbar{
    height: 100%;
}

span{
    color: white;
    font-size: 42px;
    margin-left: 18%;
}